/*
CSS for mobile
https://varvy.com/mobile/legible-font-size.html
http://stackoverflow.com/questions/16387400/getting-the-right-font-size-on-every-mobile-device
http://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/
http://www.leemunroe.com/designing-for-high-resolution-retina-displays/
https://css-tricks.com/snippets/css/retina-display-media-query/ ***

    Created on : 06-Mar-2015, 20:31:20
    Author     : JCMS

COLOURS:
#339900;  rgb(51,153,0) green
#990000;  rgb(153,0,0) red
#006666;  rgb(0,102,102) teal
#9900ff;  rgb(153,0,255) purple
#203864;  rgb(32,56,100) dark blue
*/ 
body{
    background-color: #eee;    
    font-family: tahoma;
    font-size:16px;
    color:#111;
    background-size:cover;
}

body.jcms-purple{}

body.jcms-green{}

body.jcms-red{}

body.jcms-teal{}

/* default panel title background colour */
body .panel-title > h2{
    background-color: #9900ff;
}

/* default eadings and link colour */
body.jcms-purple a, body.jcms-purple h3, body.jcms-purple h4, body.jcms-purple h5{
   color: #9900ff;  
}

/* section pages panel title background over-rides */
body.jcms-purple .panel-title > h2{
    background-color: #9900ff;
}
body.jcms-green .panel-title > h2{
    background-color: #339900; 
}
body.jcms-red .panel-title > h2{
    background-color: #990000;
}
body.jcms-teal .panel-title > h2{
    background-color: #006666;
}
body.jcms-blue .panel-title > h2{
    background-color: #203864;
}

/* section pages headming and link colour over-rides */
body.jcms-green a,body.jcms-green h3,body.jcms-green h4,body.jcms-green h5{
   color: #339900; 
}
body.jcms-red a,body.jcms-red h3,body.jcms-red h4,body.jcms-red h5{
    color: #990000;
}
body.jcms-teal a,body.jcms-teal h3,body.jcms-teal h4,body.jcms-teal h5{
    color: #006666;
}
body.jcms-blue a,body.jcms-blue h3,body.jcms-blue h4,body.jcms-blue h5{
    color: #203864;
}

/* Homepage panels colour-coded square: common settings */
div.panel-title > div.colour-flag{
    display: inline-block;
    float: right;
    position: relative;
    top: -30px;
    width: 28px;
    height: 28px;
    border: 1px solid black;
    border-left: 1px solid black;
}

/* Homepage panels colour-coded square: specific colours */
body.home div.jcms-green > div.panel-title > div.colour-flag{
    background-color: #339900;
}
body.home div.jcms-red > div.panel-title > div.colour-flag{
    background-color: #990000;
}
body.home div.jcms-teal > div.panel-title > div.colour-flag{
    background-color: #006666;
}
body.home div.jcms-blue > div.panel-title > div.colour-flag{
    background-color: #203864;
}

/* Homepage colour coded panel links/headings to match following page colour scheme */
div.jcms-green a,div.jcms-green h3,div.jcms-green h4,div.jcms-green h5{
   color: #339900; 
}
div.jcms-red a,div.jcms-red h3,div.jcms-red h4,div.jcms-red h5{
    color: #990000;
}
div.jcms-blue a,div.jcms-blue h3,div.jcms-blue h4,div.jcms-blue h5{
    color: #203864;
}
div.jcms-teal a,div.jcms-teal h3,div.jcms-teal h4,div.jcms-teal h5{
    color: #006666;
}


/*body.jcms-teal a{
   color: #006666; 
}
TODO: Extend this

div.jcms-teal a{
   color: #006666; 
}*/

body > div.pure-g.row-smaller.heading{
    background-color: white;
    height:188px;
    background-size: cover;
}
/* default banners. Can over-ride with specific classes - TODO */
body > div.pure-g.row-smaller.heading.purple{
    background-image: url("/images/banners/banner-teal-1.png");
}
body > div.pure-g.row-smaller.heading.red{
    background-image: url("/images/banners/banner-red-1.png");
}
body > div.pure-g.row-smaller.heading.green{
    background-image: url("/images/banners/banner-green-1.png");
}
body > div.pure-g.row-smaller.heading.teal{
    background-image: url("/images/banners/banner-teal-1.png");
}
body > div.pure-g.row-smaller.heading.blue{
    background-image: url("/images/banners/banner-blue-1.png");
}

body > div.heading > div{
    text-align:left; 
    display:table;
    width:100%;
}

p{
    /* https://stackoverflow.com/questions/3845433/css-line-spacing unit-less */
    line-height: 1.5;
}

p.caption{
    font-size: 10pt;
    font-style: italic;
    margin-left:50px;
}

.inline-logo{
    width:150px;
}

.divider{
    background:rgba(255,255,255,.5);
    height:6px;
}

/* we might have a breadcrumb list in top divider */
.bc{
    height:40px;
}

.bc > div > ul{
    display:inline;
    list-style-type:none;
}

.bc > div > ul > li{
    display:inline-block;
}

.heading img{
    display:inline;
    float:left;
    padding:10px;
}
div.heading a{
    z-index:10;
}

body > div.pure-g.row-smaller.heading > div{
    display:flex;
    align-items: center;
}

div.heading div.strapline{
    position: absolute;
    width: 100%;
    /*min-height: 73px;*/
    top: 0px;
    left:0px; /* need to explicitly state this for IE */
    background-color: rgba(60,60,60,0.87);
}
/* colour coded backgrounds */
div.heading.purple div.strapline{
    background-color: rgba(30,0,50,0.5);
}
div.heading.green div.strapline{
    background-color: rgba(20,60,0,0.5);
}
div.heading.red div.strapline{
    background-color: rgba(30,0,0,0.5);
}
div.heading.teal div.strapline{
    background-color: rgba(0,50,50,0.5);
}
div.heading.blue div.strapline{
    background-color: rgba(32,56,100,0.5);
}

div.heading h1{
    z-index: 10;
    margin-left: 170px;
    /*font-weight:normal;*/
    letter-spacing: 0.1em;
    color:white;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

/* MQ over-rides */
@media screen and (max-width: 567px) {
    div.heading h1{
        margin-left:120px;
        font-weight:normal;
    }
}


.row{
    min-height:300px;
}
.row-small{
    min-height:150px;
}
.row-smaller{
    min-height:75px;
}
.row-tiny{
    height:25px;
}

.linkpanel.transparency{
    background:rgba(255,255,255,.5);
}
.linkpanel.customers img{
    height: 75px;
    width:75px;
    vertical-align: middle;
    border:1px solid #9900ff;
    margin-bottom:2px;
}
/* content styles */
.panel-title{
    padding : 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.panel-title > h2{
    /*background-color: #9900ff;  rgb(153,0,255) purple*/
    color:#eee;
    padding-left: 20px;
    border:1px solid black;
}



h3{
    /*  */
}
h4{
    font-style: italic;
}
h5{
    
}

#bc{
    padding-top:5px;
    padding-bottom:5px;
    height:auto;
}
#bc > div{
    border: 1px solid #ccc; /* rgb(153,0,255) purple*/
    /*font-size:14pt;*/
    padding-top:5px;
    padding-bottom:5px;
    padding-left:20px;
    font-weight:normal;
    /*font-style: italic;*/
}
#bc > h2 > span.bc-tip{
    font-weight:bold;
}

#bc > div > a{
    padding-right:10px;
}

/* hide at narrow screens */
@media screen and (max-width: 567px) {
    #bc{
        display:none;
    }
}


.panel-text{
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    position:relative;
}
.panel-text a{
    text-decoration: none;
    font-weight: 700;
    color: inherit;
    /*padding-left:20px;*/
}
.panel-text a:hover{
    border-top: 1px dashed grey;
    border-bottom: 1px dashed grey;
}
.panel-text > figure > img{
    width:85%;
    /*max-width:980px;*/
    border:1px solid #aaa;
    /* see https://stackoverflow.com/questions/3186688/drop-shadow-for-png-image-in-css */
    -o-box-shadow:      12px 12px 29px #555;
    -icab-box-shadow:   12px 12px 29px #555;
    -khtml-box-shadow:  12px 12px 29px #555;
    -moz-box-shadow:    12px 12px 29px #555;
    -webkit-box-shadow: 12px 12px 29px #555;
    box-shadow:         12px 12px 29px #555;
}
.panel-text > figure > img.small{
    width:60%;
}

figure{
    text-align:center;
}
figcaption{
    font-size: 11pt;
    font-style: italic;
}

.panel-text > p{
    /*text-align:justify;*/
}
.panel-text>p.highlight{
    font-size:1.1em;
    font-weight:bold;
    padding-left:30px;
    border-left:3px solid #111;
}
.panel-text > ul > li{
    margin-top:10px;
}

.panel-text dl > dt{
    padding-top: 15px;
    font-weight:bold;
}
.panel-text dl > dd > p{
    font-style: italic;
    -webkit-margin-start: 0px;
    margin-left: 0px;
}
.panel-text dl > dd > p > span{
   font-style: normal;
}

span.tooltip{
    border-bottom: 1px dashed #555;
}

.panel-title h2{
    margin-top: 0px;
    margin-bottom:0px;
    font-weight:normal;
}

.panel-title h2 a{
    color:#eee;
    text-decoration:none;
}
.panel-title h2 a:hover{
    text-decoration:underline;
}
.panel-full-width{
    width:100%;
    height:auto;
}
.panel-sub-menu{
    padding-left:0px;
}
.panel-sub-menu li{
    list-style-type: none;
}
.panel-sub-menu li:hover{
    text-decoration: underline;
}

/* display panel min height */
#body-content .row{
    min-height:300px;
}

/* panel transparency overlay */
.overlay{
    background: rgba(255, 255, 255, 0.498039);
}

/* Wufoo overrides */
.wufoo li {
    width: 98%;
}
#contact input{
    border:1px solid lightgray;
}


#container ul{
    padding-left:10px;
}

#container li{
    padding-left:5px;
    padding:0px;
}

/* social media */
.social_wrapper{
    padding: 10px;
    text-align: right;
}

/* footer */
.copyright{
    padding:15px;
    font-size: 8pt;
}
/* accomodate TinyMCE auto-insertion of P tags... */
.nomargin{
    margin:0px;
}

/* holding/homepage: */

/* logo CARE with CSS ref here!! */
#logo-panel{
    float:left;
}
#logo_panel img.inline-logo{
    width: 200px;
    /*display:inline;*/
    float:left;
    padding-right:20px;
    padding-bottom:20px;
}
#logo_panel div.panel-text p{
    font-size:20pt;
}

/*
Twitter feed over-rides
*/


p.timeline-Tweet-text{
    font-size:16px;
}

/*MQ over-rides*/
@media screen and (max-width: 652px) {
    .heading h1{
        top: 27px;
    }
}

@media screen and (max-width: 567px) {
    .heading h1{
        font-size:16pt;
       
        /*padding-top:8px;
        
        position: absolute;
        top: 35px;
        left: 130px;*/
    }
    
    body > div.pure-g.row-smaller.heading {
        height:132px;
    }
    
    .inline-logo{
        width:100px;
    }
}

@media screen and (max-width: 450px) {
    .heading h1{
        /*top: 25px;*/
    }
}

@media screen and (max-width: 324px) {
    .heading h1{
        /*top: 12px;*/
    }
}