/*
CSS for mobile
https://varvy.com/mobile/legible-font-size.html
http://stackoverflow.com/questions/16387400/getting-the-right-font-size-on-every-mobile-device
http://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/
http://www.leemunroe.com/designing-for-high-resolution-retina-displays/
https://css-tricks.com/snippets/css/retina-display-media-query/ ***
*/
/* 
    Created on : 06-Mar-2015, 20:31:20
    Author     : silas

*/

body{
    /*background-color: #000;*/    
    /*color:#fff;*/
    font-family: tahoma;
    font-size:16px;
    color:#111;
    background-image: url("/images/css/background.jpg");
    background-size:cover;
}

.row{
    min-height:300px;
}
.row-small{
    min-height:150px;
}
.row-smaller{
    min-height:75px;
}
.row-tiny{
    height:25px;
}
/*.top-bar{
    height:50px;
    color:#fff;
}
.top-bar-title{
    font-size: 24pt;
    letter-spacing: 2vw;  See http://stackoverflow.com/questions/24557411/css-letter-spacing-percent-to-completely-fit-the-div-container 
    margin-left: 15px;
    margin-right: -15px;
    margin-top: 7px
}
.border-bottom{
    border-bottom:3px solid #9933FF;
}
.border-top{
    border-top:3px solid red;    
}*/


/*#header{
    border-top: 3px solid #9933FF;
    border-bottom: 3px solid #9933FF;
}
#header > div.banner-landing{
    background-image:url(/images/css/Haunted-House2.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}
#footer{
    border-top: 3px solid #9933FF;
}
#footer > div > div > div.pure-u-7-8.footer{
    margin-left: 15px;
    margin-right: -15px;
    margin-top: 15px
}
.banner-landing{
    height:300px;
}*/

/* content colour schemes */
/*.scheme-black{
    background-color: #000;
    color:#fff;
}
.scheme-vlight{
    background-color: #ebe3f3;
    color:#000;
}
.scheme-light{
    background-color: #ecdaff;
    color:#fff;
    color:#000;
}
.scheme-mid{
    background-color: #c39dea;
    color:#fff;
}
.scheme-dark{
    background-color: #6922b1;
    color:#fff;
}
.scheme-vdark{
    background-color: #330165;
    color:#fff;
}
*/
/* links */
/*
.scheme-black a, .scheme-vdark a, .scheme-dark a, .scheme-mid a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.scheme-black a:hover, .scheme-vdark a:hover, .scheme-dark a:hover, .scheme-mid a:hover{
    text-decoration: underline;
}
.scheme-vlight a, .scheme-light a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
.scheme-vlight a:hover, .scheme-light a:hover{
    text-decoration: underline;
}
*/
/* end content colour schemes */

/* content styles */
.panel-title{
    padding : 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.panel-text{
    padding-left: 20px;
    padding-right: 20px;
}
.panel-title h2{
    margin-top: 0px;
    margin-bottom:0px;
    font-weight:normal;
}
.panel-full-width{
    width:100%;
    height:auto;
}
.panel-sub-menu{
    padding-left:0px;
}
.panel-sub-menu li{
    list-style-type: none;
}
.panel-sub-menu li:hover{
    text-decoration: underline;
}
/* home */



/* span */
/*#vertical-centerer{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

 image 
#centered{
    display: inline-block;
    vertical-align: middle;
}*/


/* display panel min height */
#body-content .row{
    min-height:300px;
}




/* Wufoo overrides */
.wufoo li {
    width: 98%;
}

#container ul{
    padding-left:10px;
}

#container li{
    padding-left:5px;
    padding:0px;
}

/* social media */
.social_wrapper{
    padding: 10px;
    text-align: right;
}

/* footer */
.copyright{
    padding:15px;
    font-size: 8pt;
}
/* accomodate TinyMCE auto-insertion of P tags... */
.nomargin{
    margin:0px;
}

/* holding/homepage: */

/* logo CARE with CSS ref here!! */
#logo-panel{
    float:left;
}
#logo_panel img.inline-logo{
    width: 200px;
    /*display:inline;*/
    float:left;
    padding-right:20px;
    padding-bottom:20px;
}
#logo_panel div.panel-text p{
    font-size:20pt;
}

/*
Twitter feed
*/
timeline-tweet{
    font-size:16px;
}